In [1]:
"""Q1. How do you comment code in Python? What are the different types of comments?"""

'Q1. How do you comment code in Python? What are the different types of comments?'

In [2]:
"""Ans_1"""

'Ans_1'

In [ ]:
comment= ("there are three way 1- using hash(#)")

In [ ]:
comment1= '2-usng double quote at three time (""" statement """)'

In [ ]:
comment2= "3- using single quote three time (''' statement ''') "

In [12]:
"""Q2. What are variables in Python? How do you declare and assign values to variables?"""

'Q2. What are variables in Python? How do you declare and assign values to variables?'

In [13]:
"""Ans-2"""

'Ans-2'

In [15]:
ans_2=" we use varible to assigne a data or to store a value or data in variable "

In [16]:
a=45
# this is how assign a data into a varibale where a is the varible which store a 45 as data

In [17]:
a

45

In [18]:
ans_2

' we use varible to assigne a data or to store a value or data in variable '

In [19]:
"""Q3. How do you convert one data type to another in Python?"""

'Q3. How do you convert one data type to another in Python?'

In [20]:
ans_3=45

In [22]:
ans_3

45

In [23]:
type(ans_3)

int

In [28]:
b=str(ans_3)

In [29]:
b

'45'

In [31]:
type(b)
# this is the method how we convert one data type into another data type

str

In [32]:
"""Q4. How do you write and execute a Python script from the command line?"""

'Q4. How do you write and execute a Python script from the command line?'

In [37]:
Ans_4=" shift + enter "

In [38]:
Ans_4

' shift + enter '

In [39]:
"""Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]."""

'Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].'

In [40]:
"""ans_5"""

'ans_5'

In [41]:
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [43]:
my_list[1:3]

[2, 3]

In [44]:
"""Q6. What is a complex number in mathematics, and how is it represented in Python?"""

'Q6. What is a complex number in mathematics, and how is it represented in Python?'

In [45]:
"""ans_6"""

'ans_6'

In [46]:
complex_num="a complex is a number which contain a real and imagenry number we represent like this 4+5j"

In [47]:
complex_num

'a complex is a number which contain a real and imagenry number we represent like this 4+5j'

In [48]:
"""Q7. What is the correct way to declare a variable named age and assign the value 25 to it?"""

'Q7. What is the correct way to declare a variable named age and assign the value 25 to it?'

In [49]:
"""ans_7"""

'ans_7'

In [51]:
named_age=25

In [53]:
named_age

25

In [54]:
"""Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?"""

'Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable\nbelong to?'

In [55]:
"""Ans_8"""

'Ans_8'

In [56]:
named_price=9.99

In [57]:
type(named_price)

float

In [58]:
"""Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?"""

'Q9. Create a variable named name and assign your full name to it as a string. How would you print the\nvalue of this variable?'

In [59]:
"""Ans_9"""

'Ans_9'

In [60]:
name=" Rohit chauhan "

In [62]:
# by calling the same variable we can print value
name

' Rohit chauhan '

In [63]:
""" Q10. Given the string "Hello, World!", extract the substring "World"."""

' Q10. Given the string "Hello, World!", extract the substring "World".'

In [64]:
""" ans_10"""

' ans_10'

In [67]:
h="Hello, World!"

In [68]:
h

'Hello, World!'

In [70]:
h[7:12]

'World'

In [71]:
"""Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not."""

'Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are\ncurrently a student or not.'

In [72]:
is_student=True

In [73]:
is_student

True